<div class="container">
  <div class="text-center heading">
    <p>Explore Inspiring Courses Online</p>
  </div>
  <select [(ngModel)]="selectedCat" (change)="onchanged()" class="form-select">
    <option selected>All Courses</option>
    <option value="Programming">Programming</option>
    <option value="design">Design</option>
    <option value="network">Network</option>
  </select>

  <div class="row">
    @for (course of filterproduct; track $index) {
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 col-xxl-3  p-0 g-5">
      <div class="card w-xs-25">
        <img [src]="course.image" class="card-img-top" />
        <div class="card-body">
          <div>
            <h5 class="card-title">{{ course.title }}</h5>
          </div>
          <p>The trainer: {{ course.instructor }}</p>
          <p>Price: EGP {{ course.price }}</p>
          <div class="d-flex justify-content-between">
            <a class="btn btn-danger" routerLink="/Details/{{ course.title }}"
              >Show Details</a
            >
            <a class="btn btn-danger">Buy Now</a>
          </div>
        </div>
      </div>
    </div>
    }
  </div>
</div>
