/* global */
.heading {
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5),
    -1px -1px 3px rgba(0, 0, 0, 0.893);
  font-weight: 500;
  font-size: 35px;
  margin-top: 20px;
  margin-bottom: 40px;
  margin-left: 10px;
}
.card-body {
  height: 180px;
  background-color: rgb(26, 26, 26);
}
.card-title {
  color: orangered;
}

.card-img-top {
  height: 180px;
  width: 100%;
}

.heading {
  font-size: 35px;
  margin-bottom: 20px;
  margin-left: 15px;
  /* border: 1px solid white; */
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5),
    -1px -1px 3px rgba(0, 0, 0, 0.893);

  font-weight: 500;
}
.card p {
  color: white;
}

.card:hover {
  transform: scale(1.04);
  box-shadow: 0 2px 10px rgba(76, 76, 76, 0.645);
}
.card-img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}
.card-title {
  font-size: 15px;
  font-weight: bold;
  margin: 5px 0;
}

.card-instructor {
  font-size: 12px;
  color: #ffffff;
  margin-top: 10px;
}
.btn {
  background-color: rgb(26, 26, 26);
  margin-top: -10px;
  border: 1px solid rgb(136, 46, 1);
  margin-right: 15px;
  color: #ffffff;
}
.btn:hover {
  background-color: rgb(235, 65, 8);
}
select {
  width: 170px;
}
/* MOBILE */
@media (max-width: 767px) {
  .card {
    margin: 0 auto;
    width: 260px;
    height: fit-content;

    font-size: 14px;
  }
  .card img {
    height: 149px;
  }

  .btn {
    padding: 8px;
  }
  .heading {
    margin-right: 40px;
  }
}
/* Small Screens  */
@media (min-width: 768px) and (max-width: 991px) {
  .card {
    padding: 3px;
    background-color: rgb(10, 10, 10);
    border: 1px solid #545454;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    text-align: center;
    color: white;
    margin: 15px;
  }
}
/* midume  */
@media (min-width: 992px) {
  .card {
    padding: 3px;
    background-color: rgb(10, 10, 10);
    border: 1px solid #545454;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    text-align: center;
    color: white;
    margin: 15px;
  }
}
/* D Large Screens  */
@media (min-width: 1200px)and (max-width: 1399px)  {
  .card {
    width: 90%;
    padding: 3px;
    background-color: rgb(10, 10, 10);
    border: 1px solid #545454;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    text-align: center;
    color: white;
    margin: 0px auto;
  }
  .card-body {
    height:180px;
    background-color: rgb(26, 26, 26);
  }
}
@media (min-width: 1400px){
  .card {
    width: 380px;
    padding: 3px;
    background-color: rgb(10, 10, 10);
    border: 1px solid #545454;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    text-align: center;
    color: white;
    margin: 15px;
  }
  .card-img-top{
    height: 220px;
  }
  .card-body {
    height: 180px;
    background-color: rgb(26, 26, 26);
  }
}