.container {
  padding-bottom: 50px;
}

.heading {
  color: rgb(255, 255, 255);
  text-shadow:
    1px 1px 1px rgba(255, 255, 255, 0.5),
    -1px -1px 3px rgba(0, 0, 0, 0.893);
  font-weight: 500;
  font-size: 35px;
  margin-top: 50px;
  margin-bottom: 40px;
}

select.form-select {
  width: 200px;
  margin-bottom: 30px;
  background-color: #0e0c0c;
  color: white;
  border: 1px solid #303030;
  cursor: pointer;
  box-shadow: none;
  outline: none;
}

select.form-select:focus {
  border-color: #92261e;
}

select.form-select option {
  background-color: #0e0c0c;
  color: white;
  padding: 10px;
}

.card {
  background-color: #0e0c0c;
  color: white;
  border: none;
  border-radius: 15px;
  overflow: hidden;
  height: 490px;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
  margin: 0 auto;
}

.courses-card:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}

.courses-card a {
  text-decoration: none;
  color: #fff;
  display: block;
  height: 100%;
}

.card-img-container {
  position: relative;
  width: 100%;
  height: 249px;
  overflow: hidden;
}

.card-img-top {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease-in-out;
}

.card-img-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 10%;
  height: 100%;
  background: linear-gradient(
    90deg,
    transparent 0%,
    rgba(255, 255, 255, 0.145) 45%,
    rgba(255, 255, 255, 0.222) 50%,
    rgba(255, 255, 255, 0.177) 60%,
    transparent 100%
  );
  transform: skewX(-20deg);
  opacity: 0;
  transition:
    left 1.2s ease,
    opacity 0.2s;
}

.courses-card:hover .card-img-container::after {
  left: 130%;
  opacity: 1;
}

.courses-card-slider {
  padding: 20px;
  background-color: #0e0c0c;
  height: calc(490px - 249px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.course-type {
  font-size: 1.2rem;
  color: rgb(200, 197, 197);
  margin-bottom: 0;
}

.courses_rate {
  font-size: 0.9rem;
  color: #bfbaba;
}

.fa-star {
  color: #f4c150;
}

.course-title {
  font-size: 1.3rem;
  font-weight: 500;
  color: #fff;
  margin-top: 10px;
  line-height: 1.4;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.Crs-Duration {
  margin-top: 10px;
  color: #bfbaba;
  font-size: 13px;
}

.ins-name_wishlist {
  padding-top: 10px;
  margin-top: auto;
}

.card-text {
  font-size: 16px;
  color: #bfbaba;
  margin-bottom: 0;
}

.ins-name_wishlist p:last-child {
  background-color: #303030;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  position: relative;
  transition: background-color 0.3s ease;
  cursor: pointer;
  margin-bottom: 0;
}

.ins-name_wishlist p:last-child:hover {
  background-color: #ffffff;
}
.ins-name_wishlist p:last-child:hover .fa-plus {
  color: #0e0c0c;
}
.fa-plus {
  position: absolute;
  top: 50%;
  left: 50%;
  color: white;
  transform: translate(-50%, -50%);
}

/* Specific style for when the item is added */
.ins-name_wishlist p.added-btn {
  background-color: transparent !important; /* Bootstrap Green (Success) */
}

.ins-name_wishlist p.added-btn:hover {
  background-color: #343434 !important; /* Darker Green on hover */
}

/* Ensure the check icon is centered just like the plus was */
.fa-circle-check {
  position: absolute;
  top: 50%;
  left: 50%;
  color: white;
  font-size: 25px;

  transform: translate(-50%, -50%);
}
@media (max-width: 575.98px) {
  .heading {
    font-size: 28px;
    margin-left: 0;
    text-align: center;
  }

  select.form-select {
    width: 100%;
  }

  .card {
    width: 100%;
    max-width: 350px;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .card {
    max-width: 400px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .card {
    height: 520px;
  }

  .card-img-container {
    height: 220px;
  }
}

@media (min-width: 992px) {
  .card {
    margin: 0;
    width: 100%;
  }
}
