<div class="main">
  <div class="container">
    <div class="row">
      <div class="col12">
        <div class="text-center heading">
          <p>Let's be an Expert in Network</p>
        </div>
      </div>
    </div>
    <div class="row">
      @for (network of _network(); track network.id) {
      <div class="col-3">
        <div class="card" style="width: 18rem">
          <img [src]="network.image" class="card-img-top" />
          <div class="card-body">
            <h5 class="card-title">{{ network.title }}</h5>
            <p>The trainer: {{ network.instructor }}</p>
            <p>Price: EGP {{ network.price }}</p>
            <a class="btn btn-danger">Buy Now</a>
          </div>
        </div>
      </div>
      }
    </div>
  </div>
</div>
