.about-us-container {
  background-color: black;
  color: white;
  min-height: 100vh;
  padding: 50px 0;
}

.title {
  font-size: 2.5rem;
  color: white;
  text-transform: uppercase;
  border-bottom: 2px solid var(--mainColor);
  display: inline-block;
  padding-bottom: 5px;
}

.lead {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.highlight {
  color: var(--mainColor);
  font-weight: bold;
}

.btn-danger {
  background-color: var(--mainColor);
  border: none;
  padding: 10px 20px;
}

.btn-danger:hover {
  background-color: var(--mainColor);
}
/**red line*/
.red-line {
  border: none;
  height: 2px;
  background-color: var(--mainColor);
}
