.img-container {
  position: relative;
  height: 600px;
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.664)),
    url("/Images/Logo/Gemini_Generated_Image_8snj418snj418snj.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 5px;
}
.text {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  top: 22%;
  left: 10.5%;
  width: 680px;
  height: 170px;
  color: rgb(216, 214, 214) !important;
  margin: 5px 20px;
}
.text h1 {
  font-weight: bold;
  margin-bottom: 20px;
}
.text a {
  color: rgb(216, 214, 214);
  text-decoration: none;
  font-size: 18px;
}
.text p {
  line-height: 2;
  font-size: 28px;
  margin-bottom: 20px;
}
.text p span,
.text h1 span {
  display: block;
}
.popup {
  font-weight: 500;
  margin: 0px !important;

  width: 200px;
  padding: 15px;
  background-color: #6f0a02 !important;
}
.popup a {
  font-size: 1.3rem;
}
.main-content {
  background-color: black;
}
.slider-topseller {
  margin-top: 10px;
  height: auto;
}
.row {
  margin-bottom: 30px;
}
.pop-container,
.courses-section,
.ins-container {
  width: 75% !important;
  margin: 0px auto;
}
.course-type {
  font-size: 1.2rem;
  color: rgb(200, 197, 197);
}
.popular-heading {
  font-size: 32px;
  margin-top: 50px;
  margin-bottom: 30px;
  margin-left: -15px;
  color: rgb(255, 255, 255);
  text-shadow:
    1px 1px 1px rgba(255, 255, 255, 0.5),
    -1px -1px 3px rgba(0, 0, 0, 0.893);
  font-weight: 500;
}
.heading {
  color: rgb(255, 255, 255);
  text-shadow:
    1px 1px 1px rgba(255, 255, 255, 0.5),
    -1px -1px 3px rgba(0, 0, 0, 0.893);
  font-weight: 500;
  font-size: 35px;
  margin-top: 50px;
  margin-bottom: 20px;
  margin-left: 10px;
}
.row > * {
  padding-left: 0%;
  padding-right: 0%;
}
.carousel-control-next {
  margin-right: -30px;
  margin-top: -10px;
  height: 100%;
  width: 30px;
  background-color: #00000000;
}
.fa-star {
  color: #f4c150;
}
.carousel button {
  background-color: black;
  transition: box-shadow 0.3s ease-in-out;
}
.carousel button:hover,
.carousel-control-prev :hover,
.carousel-control-next:hover {
  box-shadow: -10px 3px 14px 6px rgb(0 0 0 / 92%);
}
.carousel-control-prev {
  background-color: #00000000;
  margin-left: -30px;
  margin-top: -10px;
  height: 100%;
  width: 30px;
}
.carousel-control-prev:hover {
  box-shadow: 20px 2px 20px 7px rgb(0 0 0 / 92%);
}
.carousel-item {
  padding: 15px;
}
.card-text {
  font-size: 16px;

  color: #bfbaba;
  padding: 5px;
}
.card-top-part {
  height: 160px;
}

.ins-name_wishlist p {
  font-size: 18px;
}
.ins-name_wishlist :nth-child(2) {
  background-color: #303030;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  position: relative;
}
.fa-bookmark {
  position: absolute;
  top: 50%;
  left: 50%;
  color: white;
  transform: translate(-50%, -50%);
}
.ins-card {
  width: 326px !important;
}
.ins-card .card-body {
  background-color: #000000 !important;
  text-align: left;
  padding-left: 0px !important;
}
.card {
  border-radius: 15px;
  overflow: hidden;
  border-radius: 10px;
  width: 468px;
  margin: 0px auto;
  border: none;
  background-color: #0e0c0c;
  color: white;
  height: 490px;
}
.courses-card a,
.courses-card-nav a {
  text-decoration: none;
  color: #fff;
}
.Crs-Duration {
  margin-top: 10px;
  color: #bfbaba;
  font-size: 12px;
}
.card-img-container {
  position: relative;
  width: 100%;
  height: 249px;
  overflow: hidden;
  /* padding: 5px; */
  /* border-radius: 10px; */
}
.card-img-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 10%; /* شريط رفيع */
  height: 100%;
  background: linear-gradient(
    90deg,
    transparent 0%,
    rgba(255, 255, 255, 0.145) 45%,
    rgba(255, 255, 255, 0.222) 50%,
    rgba(255, 255, 255, 0.177) 60%,
    transparent 100%
  );
  transform: skewX(-20deg);
  opacity: 0;
  transition:
    left 1.2s ease,
    opacity 0.2s;
}

.courses-card:hover .card-img-container::after {
  left: 130%;
  opacity: 1;
}
.carousel-item {
  padding: 0px !important;
}
.card-img-top {
  width: 100%;
  height: 100%;
  /* border-ra  dius: 10px; */
  object-fit: cover;
  overflow: hidden;
  transition: transform 0.5s ease-in-out;
}

.card-title {
  font-size: 1.1rem;
  font-weight: bold;
}
.courses-section {
  margin-top: 50px 0px;
  padding-top: 20px;
}
.courses-section .heading {
  margin-bottom: 40px;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: transparent;
  border-radius: 50%;
  /* margin-top: 97px; */
}
.btn {
  background-color: rgb(54, 54, 54);
  margin-top: -10px;
  margin-right: auto;
  margin-left: auto;
  color: #ffffff;
}

.btn.active {
  border: 1px solid #92261e;
  background-color: rgb(0, 0, 0);
}
.btn-all-courses {
  border: 1px solid rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  margin-bottom: 80px;
  margin-top: 20px;
}
.btn-all-courses:hover {
  background-color: #92261e;
  color: white;
  border: 1px solid rgb(0, 0, 0);
}
.routing-container {
  margin-bottom: -100px;
}
/* .tabs-con .card {
  height: 379px;
  text-align: center;
} */
.tabs-con .card .card-body {
  justify-content: space-between;
  display: flex;
  flex-flow: column;
}
#myTabContent .btn {
  background-color: rgba(0, 0, 0, 0);
  width: 60%;
  border: 1px solid white;
}
.expert-card {
  background-color: black;
}
.expert-card img {
  height: 210px;
  width: 100%;
  padding: 20px;
}
.btn-subscribe {
  border: 1px solid #92261e;
  background-color: rgb(0, 0, 0);
  margin-bottom: 80px;
  margin-top: 20px;
}
.btn-subscribe:hover,
#myTabContent .btn:hover {
  background-color: #92261e;
  color: white;
}
.expert-title,
.course-title {
  color: #fff;
  font-weight: 500;
  font-size: 1.5rem;
}

/* nav&taps */

#myTab {
  width: 50%;
  margin: 0px auto 50px auto;
  display: flex;
  justify-content: space-evenly;
  border-bottom: 1.5px solid #92261e;
}
#myTab button {
  color: rgb(167, 166, 166);
  font-size: 18px;
  font-weight: bold;
}
#myTab button:hover {
  color: #92261e;
  border: 1px solid #92261e !important;
  outline: none !important;
  box-shadow: none !important;
}
#myTab button.active {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.856);
  border: 1.5px solid #92261e;
}

/*
.card .img-con {
  width: 97%;
  margin: 6px auto 0px auto;
  border-radius: 26px;
  height: 250px;
  overflow: hidden;
}

.tabs-con .card img {
  width: 100%;
  height: 17rem;
  border-radius: 26px;
} */
/* .tabs-con .card img:hover {
  transform: scale(1.2);
  border-radius: 26px;
} */
/* MOBILE */
@media (max-width: 767px) {
  #myTab {
    width: 90%;
  }
  .text {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    top: 22%;
    left: 3%;
    width: 90%;
    height: 170px;
    color: rgb(216, 214, 214) !important;
    margin: 5px 0px 5px 20px;
    border: 1px solid red;
  }
  .text p {
    font-size: 20px;
  }
  span,
  p {
    display: inline-block;
    width: 100%;
  }
  .courses-card {
    width: 100%;
  }
  .courses-card-nav {
    width: 100%;
  }
  .inst-card {
    width: 80% !important;
  }
  .carousel-control-next,
  .carousel-control-prev {
    margin-right: -22px;
    margin-top: -10px;
    height: 50%;
    width: 30px;
    background-color: #00000000;
  }
  .inst-caru .carousel-control-next,
  .inst-caru .carousel-control-prev {
    margin-right: -1px;
    margin-top: 0px;
    height: 75%;
    width: 30px;
    background-color: #00000000;
  }
}
/* Small Screens  */
@media (min-width: 768px) and (max-width: 991px) {
  .inst-card .card {
    width: 260px;
  }
}
/* midume */
@media (min-width: 992px) {
  .inst-card .card {
    width: 260px;
  }
}
/* Large Screens  */
@media (min-width: 1200px) {
  .inst-card .card {
    width: 260px;
  }
}
