.img-container {
  position: relative;
  height: 600px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.664)),
    url("/Images/Logo/Gemini_Generated_Image_8snj418snj418snj.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 5px;
}
.text {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  top: 15%;
  left: 5%;
  width: 680px;
  height: 170px;
  color: rgb(216, 214, 214) !important;
  margin: 5px 20px;
}
.text h1 {
  font-weight: bold;
  margin-bottom: 20px;
}
.text a {
  color: rgb(216, 214, 214);
  text-decoration: none;
  font-size: 18px;
}
.text p {
  line-height: 2;
  font-size: 28px;
  margin-bottom: 20px;
}
.text p span,
.text h1 span {
  display: block;
}
.popup {
  font-weight: 500;
  margin: 0px !important;

  width: 200px;
  padding: 15px;
  background-color: #6f0a02 !important;
}
.popup a {
  font-size: 1.3rem;
}
.main-content {
  background-color: black;
}
.slider-topseller {
  margin-top: 10px;
  height: 300px;
}
.row {
  margin-bottom: 30px;
}
.popular-heading {
  font-size: 35px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 10px;
  border-bottom: 1px solid #92261e;
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5),
    -1px -1px 3px rgba(0, 0, 0, 0.893);

  font-weight: 500;
}
.heading {
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5),
    -1px -1px 3px rgba(0, 0, 0, 0.893);
  font-weight: 500;
  font-size: 35px;
  margin-top: 50px;
  margin-bottom: 20px;
  margin-left: 10px;
}
.row > * {
  padding-left: 0%;
  padding-right: 0%;
}
.carousel-control-next {
  margin-right: -20px;
  margin-top: 18px;
  height: 250px;
  /* border-radius: 15px; */
  width: 30px;
  background-color: #00000000;
}

.carousel-control-prev {
  background-color: #00000000;
  margin-left: -20px;
  margin-top: 13px;
  height: 270px;
  /* border-radius: 10px; */
  width: 30px;
}

.carousel-item {
  padding: 15px;
}

.card {
  border-radius: 15px;
  overflow: hidden;
  border-radius: 26px;
  width: 90%;
  margin: 0px auto;
  border: none;
  background-color: #1e1e1e;
  color: white;
  height: 320px;
}
.courses-card-slider {
  text-align: center;
}
.card-img-top {
  height: 180px;
  object-fit: cover;
}

.card-title {
  /* font-size: 1.1rem; */
  font-weight: bold;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: #000000;
  border-radius: 50%;
}
.btn {
  background-color: rgb(54, 54, 54);
  margin-top: -10px;
  margin-right: auto;
  margin-left: auto;
  color: #ffffff;
}

.btn.active {
  border: 1px solid #92261e;
  background-color: rgb(0, 0, 0);
}
.btn-all-courses {
  border: 1px solid rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  margin-bottom: 80px;
  margin-top: 20px;
}
.btn-all-courses:hover {
  background-color: #92261e;
  color: white;
  border: 1px solid rgb(0, 0, 0);
}
.routing-container {
  margin-bottom: -100px;
}
.tabs-con .card {
  height: 379px;
  text-align: center;
}
.tabs-con .card .card-body {
  justify-content: space-between;
  display: flex;
  flex-flow: column;
}
#myTabContent .btn {
  background-color: rgba(0, 0, 0, 0);
  width: 60%;
  border: 1px solid white;
}
.expert-card {
  background-color: black;
}
.expert-card img {
  height: 210px;
  width: 100%;
  padding: 20px;
}
.btn-subscribe {
  border: 1px solid #92261e;
  background-color: rgb(0, 0, 0);
  margin-bottom: 80px;
  margin-top: 20px;
}
.btn-subscribe:hover,
#myTabContent .btn:hover {
  background-color: #92261e;
  color: white;
}
.expert-title,
.course-title {
  color: #92261e;
}

/* nav&taps */
#myTab {
  width: 50%;
  margin: 0px auto 20px auto;
  display: flex;
  justify-content: space-evenly;
}
#myTab button {
  color: rgb(167, 166, 166);
  font-size: 18px;
  font-weight: bold;
}
#myTab button.active {
  color: rgba(255, 255, 255, 0.856);
  background-color: #92261e;
}

.card .img-con {
  width: 97%;
  margin: 6px auto 0px auto;
  border-radius: 26px;
  height: 250px;
  overflow: hidden;
}
.tabs-con .card img {
  width: 100%;
  height: 17rem;
  border-radius: 26px;
}
.tabs-con .card img:hover {
  transform: scale(1.2);
  border-radius: 26px;
}
/* MOBILE */
@media (max-width: 767px) {
  #myTab {
    width: 90%;
  }
}
/* Small Screens  */
@media (min-width: 768px) and (max-width: 991px) {
}
/* midume */
@media (min-width: 992px) {
}
/* Large Screens  */
@media (min-width: 12øøpx) {
}
