<div class="main-content">
  <div>
    <div class="img-container">
      <div class="text">
        <h1>
          Start Your Online
          <span> Journey Now</span>
        </h1>
        <p>
          Start Your Online Journey With learnova
          <span>with the biggest Library of Video based courses</span>
        </p>
        <button class="btn popup text-light">
          <a href="/main-payment">Subscribe Now</a>
        </button>
      </div>
    </div>

    <!-- First part the slider of popular courses -->
    <div class="pop-container">
      <div class="text-left popular-heading">
        <p>Top Courses of the week</p>
      </div>

      <div class="row slider-topseller">
        <div
          id="popularCoursesCarousel"
          class="carousel slide"
          data-bs-ride="carousel"
        >
          <div class="carousel-inner">
            <div
              class="carousel-item"
              *ngFor="let group of groupedPopularCourses; let i = index"
              [class.active]="i === 0"
            >
              <div class="row justify-content-evenly">
                <div
                  class="col-sm-12 col-md-4 col-lg-4 gx-2"
                  *ngFor="let popular of group"
                >
                  <div class="card courses-card">
                    <a routerLink="/Details/{{ popular.title }}">
                      <div class="card-img-container">
                        <img
                          [src]="popular.image"
                          class="card-img-top"
                          [alt]="popular.title"
                        />
                      </div>
                      <div class="card-body courses-card-slider">
                        <div class="card-top-part">
                          <div class="d-flex justify-content-between">
                            <p class="course-type">
                              {{ popular.typ }}
                            </p>
                            <span class="courses_rate mt-1"
                              ><i class="fa fa-star"> </i> 4.5 ( 400+
                              Enrollements )
                            </span>
                          </div>

                          <h5 class="card-title course-title">
                            {{ popular.title }}
                          </h5>

                          <p class="Crs-Duration">
                            <i class="bi bi-alarm"></i> 15h 41Mins
                          </p>
                        </div>
                        <div
                          class="ins-name_wishlist d-flex justify-content-between align-items-end"
                        >
                          <p class="card-text">{{ popular.instructor }}</p>
                          <p>
                            <i class="fa-regular fa-bookmark"></i>
                          </p>
                        </div></div
                    ></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <button
            class="carousel-control-prev Course-btn-prev"
            type="button"
            data-bs-target="#popularCoursesCarousel"
            data-bs-slide="prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button
            class="carousel-control-next Course-btn-next"
            type="button"
            data-bs-target="#popularCoursesCarousel"
            data-bs-slide="next"
          >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>

    <!-- courses -->
    <section class="courses-section">
      <div class="text-center heading">
        <p>Explore Inspiring Courses Online</p>
      </div>
      <!-- ******************************************* -->
      <div class="tabs-con">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item" role="presentation">
            <button
              class="nav-link active"
              id="Coding"
              data-bs-toggle="tab"
              data-bs-target="#home-tab-pane"
              type="button"
              role="tab"
              aria-controls="home-tab-pane"
              aria-selected="true"
            >
              Coding
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button
              class="nav-link"
              id="profile-tab"
              data-bs-toggle="tab"
              data-bs-target="#profile-tab-pane"
              type="button"
              role="tab"
              aria-controls="profile-tab-pane"
              aria-selected="false"
            >
              Network
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button
              class="nav-link"
              id="contact-tab"
              data-bs-toggle="tab"
              data-bs-target="#contact-tab-pane"
              type="button"
              role="tab"
              aria-controls="contact-tab-pane"
              aria-selected="false"
            >
              Design
            </button>
          </li>
        </ul>

        <div class="tab-content" id="myTabContent">
          <div
            class="tab-pane fade show active"
            id="home-tab-pane"
            role="tabpanel"
            aria-labelledby="Coding"
            tabindex="0"
          >
            <div class="row gy-5">
              @for (p of codecorses(); track p.id) {
              <div class="col-12 col-md-6 col-lg-4">
                <div class="card courses-card">
                  <a routerLink="/Details/{{ p.title }}">
                    <div class="card-img-container">
                      <img
                        [src]="p.image"
                        class="card-img-top"
                        [alt]="p.title"
                      />
                    </div>
                    <div class="card-body courses-card-slider">
                      <div class="card-top-part">
                        <div class="d-flex justify-content-between">
                          <p class="course-type">
                            {{ p.typ }}
                          </p>
                          <span class="courses_rate mt-1"
                            ><i class="fa fa-star"> </i> 4.5 ( 400+ Enrollements
                            )
                          </span>
                        </div>

                        <h5 class="card-title course-title">
                          {{ p.title }}
                        </h5>

                        <p class="Crs-Duration">
                          <i class="bi bi-alarm"></i> 15h 41Mins
                        </p>
                      </div>
                      <div
                        class="ins-name_wishlist d-flex justify-content-between align-items-end"
                      >
                        <p class="card-text">{{ p.instructor }}</p>
                        <p>
                          <i class="fa-regular fa-bookmark"></i>
                        </p>
                      </div></div
                  ></a>
                  <!-- <div class="img-con">
                    <img src="{{ p.image }}" class="card-img-top" alt="..." />
                  </div>
                  <div class="card-body">
                    <h3 class="card-title">{{ p.title }}</h3>
                    <a
                      routerLink="/Details/{{ p.title }}"
                      class="btn btn-primary"
                      >Show Details</a
                    >
                  </div> -->
                </div>
              </div>
              }
            </div>
          </div>

          <div
            class="tab-pane fade"
            id="profile-tab-pane"
            role="tabpanel"
            aria-labelledby="profile-tab"
            tabindex="0"
          >
            <div class="row">
              @for (p of networkcorses(); track p.id) {
              <div class="col-12 col-md-6 col-lg-4 gy-5">
                <div class="card">
                  <div class="img-con">
                    <img src="{{ p.image }}" class="card-img-top" alt="..." />
                  </div>
                  <div class="card-body">
                    <h5 class="card-title">{{ p.title }}</h5>
                    <a
                      routerLink="/ProjectDetails/{{ p.title }}"
                      class="btn btn-primary"
                      >Show Details</a
                    >
                  </div>
                </div>
              </div>
              }
            </div>
          </div>

          <div
            class="tab-pane fade"
            id="contact-tab-pane"
            role="tabpanel"
            aria-labelledby="contact-tab"
            tabindex="0"
          >
            <div class="row">
              @for (p of designcourses(); track p.id) {
              <div class="col-12 col-md-6 col-lg-4">
                <div class="card">
                  <div class="img-con">
                    <img src="{{ p.image }}" class="card-img-top" alt="..." />
                  </div>
                  <div class="card-body">
                    <h5 class="card-title">{{ p.title }}</h5>
                    <a
                      routerLink="/ProjectDetails/{{ p.title }}"
                      class="btn btn-primary"
                      >Show Details</a
                    >
                  </div>
                </div>
              </div>
              }
            </div>
          </div>
        </div>
        <div class="btn-courses d-flex justify-content-center">
          <button class="btn btn-all-courses mt-4 btn-lg" routerLink="/courses">
            See All Courses
          </button>
        </div>
      </div>
    </section>
    <!-- instructors slider -->
    <div class="container text-center">
      <h2 class="mb-6 text-white mb-5 title">Learnova Experts</h2>
      <ng-content></ng-content>

      <div class="row slider-topseller">
        <div
          id="learnovaExpertsCarousel"
          class="carousel slide"
          data-bs-ride="carousel"
        >
          <div class="carousel-inner">
            <div
              class="carousel-item"
              *ngFor="let group of groupedinst; let i = index"
              [class.active]="i === 0"
            >
              <div class="row justify-content-evenly">
                <div
                  class="col-sm-12 col-md-4 col-lg-3 gx-5 inst-card"
                  *ngFor="let ins of group"
                >
                  <div class="card courses-card">
                    <img
                      [src]="ins.image"
                      class="card-img-top"
                      [alt]="ins.name"
                    />
                    <div class="card-body courses-card-slider">
                      <h5 class="card-title course-title">
                        {{ ins.name }}
                      </h5>
                      <p class="card-text">{{ ins.role }}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Carousel controls -->
          <button
            class="carousel-control-prev"
            type="button"
            data-bs-target="#learnovaExpertsCarousel"
            data-bs-slide="prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button
            class="carousel-control-next"
            type="button"
            data-bs-target="#learnovaExpertsCarousel"
            data-bs-slide="next"
          >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
      <!-- button od see all instructors -->
      <div class="btn-courses btn-instructors d-flex justify-content-center">
        <button
          class="btn btn-all-courses mt-4 btn-lg"
          routerLink="/instructors"
        >
          See All Instructors
        </button>
      </div>

      <!-- learning banner &subscribtion -->
      <div class="learning-banner text-white">
        <h1>Start your learning journey today.</h1>
        <p>
          Unlimited access to more than 1,000 video courses in Arabic, starting
          from <span> 499 EGP</span>
        </p>
        <button
          class="btn btn-subscribe mt-4 btn-lg"
          routerLink="/main-payment"
        >
          Subscribe now
        </button>
      </div>
    </div>
  </div>
</div>
