<div
  class="container-fluid pb-4 bg-black py-5 d-flex justify-content-center flex-column p-2 d-flex"
>
  <div class="row text-light w-50 text-center align-self-center">
    <h3 class="text-center">Invest in yourself</h3>
    <!---four p tags -->
    <div class="container mt-5 text-center">
      <div class="row">
        <!-- First two paragraphs in one row -->
        <div class="col-md-6">
          <p>
            <span class="p-2"> &#10003;</span> Unlimited benefit from all
            courses on the website and Android app.
          </p>
        </div>
        <div class="col-md-6">
          <p>
            <span class="p-2"> &#10003;</span>More than 1,000 illustrated
            courses in Arabic.
          </p>
        </div>

        <!-- Second two paragraphs in another row -->
        <div class="col-md-6">
          <p>
            <span class="p-2"> &#10003;</span>Certificate upon completion of the
            course.
          </p>
        </div>
        <div class="col-md-6">
          <p>
            <span class="p-2"> &#10003;</span>Presented by the best experts in
            the Arab world.
          </p>
        </div>
      </div>
    </div>
  </div>

  <!------------------------------ Promo Code and Logos --------------------------------------------------->

  <div class="container-fluid bg-black justify-content-center d-flex">
    <div class="row d-flex text-light w-50 clearfix">
      <p class="float-left">
        <a>Apply promo code</a>
      </p>
      <b class="h5"
        >We accept
        <img
          src="https://app.almentor.net/assets/images/payment-methods/payment-mastercard-dark.svg"
          alt="Mastercard"
        />
        <img
          src="https://app.almentor.net/assets/images/payment-methods/payment-visa.svg"
          alt="Visa"
        />
        <img
          src="https://app.almentor.net/assets/images/payment-methods/payment-meeza.svg"
          alt="Meeza"
        />
        <img
          src="https://app.almentor.net/assets/images/payment-methods/fawry.svg"
          alt="Fawry"
        />
        <img
          src="https://app.almentor.net/assets/images/payment-methods/vodafone-cash.png"
          alt="Vodafone Cash"
        />
      </b>

      <!-------------------------------------------------------------------------->
      <ngx-paypal [config]="payPalConfig"></ngx-paypal>
    </div>
  </div>
</div>
