<div class="d-flex" id="wrapper">
  <!-- Sidebar -->
  <div class="sidebar">
    <div class="sidebar-header">
      <i class="fa fa-code"></i>
      <h2>DASHBOARD</h2>
    </div>
    <div
      class="profile-picture ml-auto d-flex flex-column justify-content-center align-items-center"
    >
      <img
        [src]="studentPicture"
        alt="Student Avatar"
        class="rounded-circle"
        width="50"
        height="50"
      />
      <span class="stuname">{{ studentName }}</span>
    </div>
    <ul class="text-center">
      <li>
        <a href="#"><i class="fa fa-wallet"></i> Wallet</a>
      </li>
      <li>
        <a href="#"><i class="fa fa-bar-chart"></i> Analytics</a>
      </li>
      <li>
        <a href="#"><i class="fa fa-tasks"></i> Tasks</a>
      </li>
      <li>
        <a href="#"><i class="fa fa-cog"></i> Settings</a>
      </li>
      <li>
        <a href="#"><i class="fa fa-question-circle"></i> Help</a>
      </li>
    </ul>
  </div>

  <!-- Main Content -->

  <div class="container-fluid mt-4">
    <div class="my-courses container">
      <!-- Added container to center the grid -->
      <h2 class="heading">Your Courses</h2>

      <!-- Bootstrap Row -->
      <div class="row justify-content-center">
        <!-- Card 1: HTML -->
        <div class="col-lg-4 col-md-6 col-12 mb-4">
          <div class="card course-card">
            <div class="card-img-container">
              <img
                src="Images/html5-logo.png"
                class="card-img-top"
                alt="HTML Logo"
              />
            </div>
            <div class="card-body">
              <h3 class="card-title">HTML</h3>
              <p class="card-text">80% - Progress</p>
              <button class="btn btn-subscribe">Continue</button>
            </div>
          </div>
        </div>

        <!-- Card 2: CSS -->
        <div class="col-lg-4 col-md-6 col-12 mb-4">
          <div class="card course-card">
            <div class="card-img-container">
              <img
                src="Images/img_css.jpg"
                class="card-img-top"
                alt="CSS Logo"
              />
            </div>
            <div class="card-body">
              <h3 class="card-title">CSS</h3>
              <p class="card-text">60% - Progress</p>
              <button class="btn btn-subscribe">Continue</button>
            </div>
          </div>
        </div>

        <!-- Card 3: JavaScript -->
        <div class="col-lg-4 col-md-6 col-12 mb-4">
          <div class="card course-card">
            <div class="card-img-container">
              <img src="Images/16_JS.png" class="card-img-top" alt="JS Logo" />
            </div>
            <div class="card-body">
              <h3 class="card-title">JavaScript</h3>
              <p class="card-text">30% - Progress</p>
              <button class="btn btn-subscribe">Continue</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
