<div class="container-fluid">
  <div class="backBanner-container">
    @if (courses()) {

    <!-- الخلفية المبلوّرة -->
    <div
      class="backBanner-image"
      [ngStyle]="{
          'background-image': 'url(' + courses()!.image + ')'
        }"
    ></div>

    <div class="backBanner-overlay"></div>

    <div class="container backBanner-content">
      <div class="row">
        <!-- left part -->
        <div class="col-8 left-part">
          <div><img [src]="courses()?.image" [alt]="courses()!.title" /></div>
          <div class="cat-p">
            <p>categories: <span>{{courses()?.typ}}</span></p>
          </div>
          <div>
            <h3>By the end of this course, you will be able to</h3>
          </div>
        </div>
        <!-- right part -->
        <div class="col-4"></div>
      </div>
    </div>

    }
  </div>
</div>
