/* Main container */
.container-fluid {
  margin-bottom: 25px;
}

.backBanner-container {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 650px;
}

.backBanner-image {
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 500px;
}

/* img  overlay*/
.backBanner-overlay {
  position: absolute;
  top: 0;
  height: 650px;
  width: 100%;
  backdrop-filter: blur(30px);
  transform: scale(1.1);
  background-image: linear-gradient(
    to bottom,
    #0a8db100 19%,
    #00536b2b 35%,
    #003a4a75 48%,
    #00191fc2,
    #000e12e8 80%,
    #000
  );
  z-index: 2;
}

/*start courses details*/
.backBanner-content {
  position: relative;
  z-index: 5; /* فوق الخلفية والـoverlay */
  padding-top: 40px;
}

.left-part img {
  width: 100%;
  max-width: 740px;
  border-radius: 12px;
  box-shadow: 0 18px 40px rgba(0, 0, 0, 0.6);
}
.left-part .cat-p {
  margin-top: 20px;
  color: #fdfcff;
  font-size: 16px;
  text-transform: capitalize;
  margin-bottom: 20px;
}

.left-part .cat-p span {
  font-weight: bold;
  text-decoration: underline;
}
.left-part .skills {
  display: flex;
  width: 90%;
  justify-content: space-between;
  margin-bottom: 10px;
}
.left-part .skills p  {
  color: white;
  padding: 5px;
  border: 1px solid white;
  border-radius: 50px;
  text-align: center;
}
.outcomes h3,
.Coursedetails h3,.Aboutcourse h3 {
  color: white;
  font-weight: 600;
}
.outcomes ul,
.Coursedetails ul {
  padding: 0;
  list-style: none;
  color: rgba(255, 255, 255, 0.822);
  line-height: 50px;
  font-size: 18px;
}
.outcomes ul li::before {
  content: "✓";
  font-size: 20px;
  margin-right: 10px;
}

.Coursedetails ul li i {
  margin-right: 10px;
}
hr {
  border: none;
  height: 1px;
  background-color: #ffffff9e;
  opacity: 1;
}
.Aboutcourse p{
  color: white;
  border: 1px solid red;
}