/* Main container */
.container-fluid {
  position: relative;
  height: 650px;
}

.backBanner-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.backBanner-image {
  position: absolute;
  inset: 0;
  background-size: cover;
  background-position: center;
  filter: blur(50px);
  transform: scale(1.1);
  z-index: 1;
}

/* img  overlay*/
.backBanner-overlay {
  position: absolute;
  inset: 0;
  background-image: linear-gradient(
    to bottom,
    #0a8db100 19%,
    #00536b2b 35%,
    #003a4a75 48%,
    #00191fc2,
    #000e12e8 80%,
    #000
  );
  z-index: 2;
}

/*start courses details*/
.backBanner-content {
  position: relative;
  z-index: 3; /* فوق الخلفية والـoverlay */
  padding-top: 40px;
}

.left-part img {
  width: 100%;
  max-width: 740px;
  border-radius: 12px;
  box-shadow: 0 18px 40px rgba(0, 0, 0, 0.6);
}
.left-part .cat-p {
  margin-top: 20px;
  color: #fdfcff;
  font-size: 16px;
  text-transform: capitalize;
  margin-bottom: 20px;
}

.left-part .cat-p span {
  font-weight: bold;
  text-decoration: underline;
}
