/* Background overlay */
.popup-overlay {
  position: fixed;
  top: 10px;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.send-btn {
  border: 1px solid #6f0a02 !important;
}
.popup {
  background-color: #6f0a02;
  position: fixed;
  bottom: 10px;
  right: 10px;
}

/* Popup container */
.popup-container {
  position: fixed;
  top: 72%;
  right: -9.5%;
  transform: translate(-50%, -50%);
  width: 300px;
  z-index: 2;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.close-btn {
  position: absolute;
  top: 0px;
  right: 15px;
  font-size: 20px;
  cursor: pointer;
  color: #6f0a02;
}
@media (max-width: 768px) {
  .popup-container {
    position: fixed;
    top: 73%;
    right: -39%;
    transform: translate(-50%, -50%);
    width: 300px;
    z-index: 2;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
  }
}
