<div class="main">
  <div class="container">
    <div class="row">
      <div class="co-12">
        <div class="text-center heading">
          <p>Advanced UI UX Courses</p>
        </div>
      </div>
    </div>
    <div class="row">
      @for (uiux of _uiux(); track uiux.id) {
      <div class="col-3">
        <div class="card" style="width: 18rem">
          <img [src]="uiux.image" class="card-img-top" />
          <div class="card-body">
            <h5 class="card-title">{{ uiux.title }}</h5>
            <p>The trainer: {{ uiux.instructor }}</p>
            <p>Price: EGP {{ uiux.price }}</p>
            <a class="btn btn-danger">Buy Now</a>
          </div>
        </div>
      </div>
      }
    </div>
  </div>
</div>
